
@{
    Layout = "~/Views/Dashboard/DashBoard.cshtml";
}


<div>
    
    @*<h1 style="text-align: center; font-weight: bold; color: #d68095; "> Exam Management System </h1>*@ 
    <center><img src="~/Content/img/exam-software.jpg" /></center>

</div>

